/afirmarfc/target
/api/target
/catcertrfc/target
/afirmarfc-cliente_tsa_rfc/.classpath
/afirmarfc-cliente_tsa_rfc/.gitignore
/afirmarfc-cliente_tsa_rfc/.project
/afirmarfc-cliente_tsa_rfc/.settings/org.eclipse.core.resources.prefs
/afirmarfc-cliente_tsa_rfc/.settings/org.eclipse.jdt.core.prefs
/afirmarfc-cliente_tsa_rfc/.settings/org.eclipse.m2e.core.prefs
/afirmarfc-cliente_tsa_rfc/2019-01-22 Massiu_lleuger (1)_Firmat.pdf
/afirmarfc-cliente_tsa_rfc/test.properties
/cliente_tsa_rfc/.classpath
/cliente_tsa_rfc/.project
/cliente_tsa_rfc/.settings/org.eclipse.core.resources.prefs
/cliente_tsa_rfc/.settings/org.eclipse.jdt.core.prefs
/cliente_tsa_rfc/.settings/org.eclipse.m2e.core.prefs
/cliente_tsa_rfc/Cliente TSA RFC v2-1-1 con librerias -Java-.zip
/cliente_tsa_rfc/configuracionCliente.properties
/cliente_tsa_rfc/target
/cliente_tsa_rfc/.settings
